
<form>
  <select id="thanhpho" onchange="myFunction()">
    <option value="all">Tất cả thành phố</option>
    <option value="hochiminh">Hồ Chí Minh</option>
    <option value="hanoi">Hà Nội</option>
    <option value="danang">Đà Nẵng</option>
    <option value="dalat">Đà Lạt</option>
  </select>
  <select id="phongban" onchange="myFunction()">
    <option value="all">Tất cả các nhóm</option>
    <option value="cs">Chăm sóc khách hàng</option>
    <option value="tasker">Tuyển dụng Tasker</option>
    <option value="dev">Developer</option>
    <option value="mkt">Marketing</option>
  </select>
</form>
<p style="font-family:Montserrat, Sans-serif;
    font-size: 18px;
    font-weight: 400;">
  <span id="countList">0</span>
  <span> vị trí</span>
</p>

<!-- <button onclick="hideAll()"> Hide all</button> -->
<div id="box_career" class="career">
  <div class="all cs hochiminh">
    <span>01. CS1 - CS Team - Hồ Chí Minh</span>
  </div>
  <div class="all cs hanoi">
    <span>02. CS2 - CS Team - Hà Nội</span>
  </div>
  <div class="all dev hanoi">
    <span>03. Dev1 - Dev Team - Hà Nội</span>
  </div>
  <div class="all dev hochiminh">
    <span>04. Dev2 - Dev Team - Hồ Chí Minh</span>
  </div>
  <div class="all mkt hochiminh">
    <span>05. MKT1 - MKT Team - Hồ Chí Minh</span>
  </div>
  <div class="all mkt danang">
    <span>06. MKT2 - MKT Team - Đà Nẵng</span>
  </div>
  <div class="all mkt hanoi">
    <span>07. MKT3 - MKT Team - Hà Nội</span>
  </div>
  <div class="all tasker hanoi">
    <span>08. Tasker1 - Tasker Team - Hà Nội</span>
  </div>
  <div class="all tasker dalat">
    <span>09. Tasker2 - Tasker Team - Đà Lạt</span>
  </div>
  <div class="all tasker danang">
    <span>10. Tasker3 - Tasker Team - Đà Nẵng</span>
  </div>
  <div class="all cs hanoi">
    <span>11. CS3 - CS Team - Hà Nội</span>
  </div>
</div>