
.career {
  display: block;
  background-color: #DDDDDD;
  width: 300px;
  margin: 10px 0px;
  padding: 5px;
}
.career div + div {
  margin-top: 10px;
}

.showcareers {
  display: block !important;
}
.hidecareers {
  display: none;
}